@font-face{
	font-family : "comic";
	src : url('comic.ttf') format('truetype");
}
@font-face{
	font-family : "papyrus";
	src : url('papyrus.ttf') format('truetype");
}
h1,h2,h3,p
{
	/*argin auto;*/
	margin-right: auto; 
	margin-left:auto;
	text-align: justify;
	justify-content:center;
	display:flex;
	width: 100px;
}
